In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
A database is an organized collection of data that can be easily accessed, managed, and updated. 
It can be stored and retrieved in an efficient and secure manner.
Databases are used in many applications, including websites, mobile apps, and enterprise systems.

SQL and NoSQL are two types of databases that differ in their structure, storage, and querying methods.

SQL (Structured Query Language) databases are relational databases that use tables to store data. SQL databases have a predefined schema, which means that the data is organized into tables with predefined columns and data types. SQL databases use SQL for querying and manipulating data. Examples of SQL databases are MySQL, Oracle, and PostgreSQL.

NoSQL (Not Only SQL) databases, on the other hand, are non-relational databases that store data in a flexible and unstructured way. 
NoSQL databases don't have a fixed schema, which means that data can be stored in various formats like key-value pairs, document-based, or graph-based. NoSQL databases use their own query language or APIs for querying and manipulating data. Examples of NoSQL databases are MongoDB, Cassandra, and Redis.

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a set of SQL commands used to define and modify the structure of database objects like tables, indexes, and constraints. 
Some common DDL commands and their use are:

CREATE: The CREATE command is used to create a new database object like a table, index, or view. For example, the following SQL statement creates a new table called "employees" with three columns:

CREATE TABLE employees (
id INT PRIMARY KEY,
name VARCHAR(50),
age INT
);

DROP: The DROP command is used to delete a database object like a table, index, or view. 
    For example, the following SQL statement deletes the "employees" table:
DROP TABLE employees;

ALTER: The ALTER command is used to modify the structure of an existing database object like a table, index, or view. 
    For example, the following SQL statement adds a new column called "salary" to the "employees" table:
ALTER TABLE employees ADD COLUMN salary INT;

TRUNCATE: The TRUNCATE command is used to delete all the data from a table, but the table structure remains intact. 
    For example, the following SQL statement deletes all the data from the "employees" table:
TRUNCATE TABLE employees;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
DML (Data Manipulation Language) is a set of SQL commands used to manipulate data in a database. 
Some common DML commands and their use are:

INSERT: The INSERT command is used to insert new rows of data into a table. For example, the following SQL statement inserts a new row into the "employees" table:
INSERT INTO employees (id, name, age, salary) VALUES (1, 'John', 30, 50000);

UPDATE: The UPDATE command is used to modify existing rows of data in a table. For example, the following SQL statement updates the salary of the employee with ID 1:
UPDATE employees SET salary = 55000 WHERE id = 1;

DELETE: The DELETE command is used to delete existing rows of data from a table. For example, the following SQL statement deletes the employee with ID 1:
DELETE FROM employees WHERE id = 1;

In [ ]:
Q4. What is DQL? Explain SELECT with an example.

In [ ]:
DQL stands for Data Query Language, which is a part of SQL (Structured Query Language) used to retrieve data from a database.
SELECT statement is used to retrieve data from one or more tables in a database using DQL.

The basic syntax of the SELECT statement is as follows:

SELECT column1, column2, ... FROM table_name WHERE condition;
SELECT: It is a keyword used to select the columns that we want to retrieve data from.
column1, column2, ...: It specifies the name of the columns from which we want to retrieve data. If we want to retrieve all columns, we can use an asterisk (*).
FROM: It is a keyword that specifies the name of the table from which we want to retrieve data.
WHERE: It is an optional keyword that specifies the condition that must be met for the rows to be retrieved.
Let's consider an example to illustrate the use of the SELECT statement:

Suppose we have a table named employees with the following columns:

id (integer)
name (string)
age (integer)
salary (float)
We want to retrieve the names and salaries of employees who have a salary greater than 50000.
We can use the following SELECT statement:


SELECT name, salary FROM employees WHERE salary > 50000;
The output of this query will be a table with two columns,
name and salary, containing the names and salaries of employees who have a salary greater than 50000.

In [ ]:
Q5. Explain Primary Key and Foreign Key.

In [ ]:
A Primary Key is a column or set of columns in a table that uniquely identifies each row in the table. 
It must have a unique value for each row and cannot have null values.
A primary key is used to enforce data integrity and maintain the uniqueness of the table.

For example, in a table of students, the student ID could be used as the primary key since each student will have a unique ID.

A Foreign Key is a column or set of columns in a table that refers to the primary key of another table. 
It establishes a link between two tables and is used to enforce referential integrity. The foreign key constraint ensures that the values in the foreign key column of one table must match the values in the primary key column of another table.

For example, in a table of courses, there could be a foreign key column that references the primary key of the students table. This would link each course to the student who is enrolled in the course.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# establish a connection to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="mydatabase"
)

# create a cursor object
mycursor = mydb.cursor()

# execute a query using the execute method
mycursor.execute("SELECT * FROM customers")

# fetch the results of the query
result = mycursor.fetchall()

# iterate over the results and print each row
for row in result:
  print(row)

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
The order of execution of SQL clauses in an SQL query is as follows:

SELECT
FROM
JOIN
WHERE
GROUP BY
HAVING
ORDER BY
However, not all clauses are required for every query, 
and some may appear in a different order depending on the specific query being executed.